<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>

      <indexConfiguration>
        <RedirectModuleIndexConfiguration type="Sitecore.ContentSearch.LuceneProvider.LuceneIndexConfiguration, Sitecore.ContentSearch.LuceneProvider">

          <!-- This flag will index all fields by default. This allows new fields in your templates to automatically be included into the index.
               You have two choices : 
               
               1) Set this to 'true' and place all the fields that you would like to remove in the 'ExcludeField' list.
               2) Set to false and place all fields you would like to be indexed in the 'IncludeField' list below.
          -->
          <indexAllFields>true</indexAllFields>

          <!-- Should index Initialize() method be called as soon as the index is added or wait for an external trigger -->
          <initializeOnAdd>true</initializeOnAdd>

          <!-- reference sections from DefaultIndexConfiguration -->
          <analyzer ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/analyzer" />
          <fieldReaders ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldReaders" />
          <indexFieldStorageValueFormatter ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexFieldStorageValueFormatter" />
          <indexDocumentPropertyMapper ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/indexDocumentPropertyMapper" />
          <documentBuilderType ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/documentBuilderType" />
          <!--<fieldMap ref="contentSearch/indexConfigurations/defaultLuceneIndexConfiguration/fieldMap"/>-->

          <fieldMap type="Sitecore.ContentSearch.FieldMap, Sitecore.ContentSearch">
            <!-- Add fields to the Default Index Configuration -->
            <fieldNames hint="raw:AddFieldByFieldName">
              <fieldType fieldName="requested_expression" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"
                  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <fieldType fieldName="source_item" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"
                  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <fieldType fieldName="requested_url" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"
                  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <fieldType fieldName="redirect_to" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"
                  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
              <fieldType fieldName="response_status_code" storageType="YES" indexType="TOKENIZED" vectorType="NO" boost="1f" type="System.String"
                  settingType="Sitecore.ContentSearch.LuceneProvider.LuceneSearchFieldConfiguration, Sitecore.ContentSearch.LuceneProvider" />
            </fieldNames>
          </fieldMap>

          <include hint="list:IncludeTemplate">
            <Redirect_Folder>{8BEF76F0-DEAA-4939-B9C1-F357E1875D5D}</Redirect_Folder>
            <Redirect_Pattern>{94AC4F3A-E888-4557-9504-4AD2560ACC12}</Redirect_Pattern>
            <Redirect_Status>{F050D923-541E-4B50-BC43-5E1569F08A36}</Redirect_Status>
            <Redirect_Url>{B5967A68-7F70-42D3-9874-0E4D001DBC20}</Redirect_Url>
            <Response_Status_Code>{72E10D68-E414-45AD-824E-758B1711B763}</Response_Status_Code>
          </include>
        </RedirectModuleIndexConfiguration>
      </indexConfiguration>

      <configuration type="Sitecore.ContentSearch.ContentSearchConfiguration, Sitecore.ContentSearch">
        <indexes hint="list:AddIndex">
          <index id="redirects_web_index" type="Sitecore.ContentSearch.LuceneProvider.LuceneIndex, Sitecore.ContentSearch.LuceneProvider">
            <param desc="name">$(id)</param>
            <param desc="folder">$(id)</param>
            <!-- This initializes index property store. Id has to be set to the index id -->
            <param desc="propertyStore" ref="contentSearch/databasePropertyStore" param1="$(id)" />
            <configuration ref="contentSearch/indexConfiguration/AccessoriesIndexConfiguration" />
            <strategies hint="list:AddStrategy">
              <!-- NOTE: order of these is controls the execution order -->
              <strategy ref="contentSearch/indexUpdateStrategies/onPublishEndAsync" />
            </strategies>
            <commitPolicyExecutor type="Sitecore.ContentSearch.CommitPolicyExecutor, Sitecore.ContentSearch">
              <policies hint="list:AddCommitPolicy">
                <policy type="Sitecore.ContentSearch.TimeIntervalCommitPolicy, Sitecore.ContentSearch" />
              </policies>
            </commitPolicyExecutor>
            <locations hint="list:AddCrawler">
              <crawler type="Sitecore.ContentSearch.SitecoreItemCrawler, Sitecore.ContentSearch">
                <Database>web</Database>
                <Root>/sitecore/system/Modules/Redirect Module</Root>
              </crawler>
            </locations>
          </index>
        </indexes>
      </configuration>
    </contentSearch>
  </sitecore>
</configuration>